pytest~=6.0.1
python-dotenv~=0.13.0
Flask~=1.1.2
py~=1.9.0
colorama~=0.4.3
pip~=19.2.3
attrs~=19.3.0
toml~=0.10.1
Jinja2~=2.11.2
Werkzeug~=0.16.0
itsdangerous~=1.1.0
click~=7.1.2
MarkupSafe~=1.1.1
wcwidth~=0.2.4
pluggy~=0.13.1
iniconfig~=1.0.1
atomicwrites~=1.4.0
pyparsing~=2.4.7
six~=1.15.0
setuptools~=41.2.0
packaging~=20.4
WTForms~=2.3.3
better-profanity~=0.6.1
Flask-WTF~=0.14.2
Jinja2~=2.11.2
PyMySQL~=0.9.3
coverage~=5.2.1
more-itertools~=8.3.0
password-validator~=1.0
omdb~=0.10.1
certifi~=2020.6.20
chardet~=3.0.4
idna~=2.10
requests~=2.24.0
urllib3~=1.25.10