{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <div class="formwrapper"
        <header class="article-header">
            <h1>{{ movies_title }}</h1>
        </header>

        <div class="actor-index">
            <h1>Search for actor by name:</h1>
        </div>

        {{ title }}
        {{ type }}

        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }}
            <div class="form-field">{{ form.actor.label }} {{ form.actor }}
            </div>
            {{ form.submit }}
        </form>
    <div>
</main>
{% endblock %}