<nav id="nav">

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>

  <div>
      <a class="btn-nav" href="{{ url_for('movies_bp.browse_movies') }}">
        Browse movies
      </a>
  </div>

  <div id="dropdown">
    <button class="btn-drop">Browse by
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn-drop-content" href="#">Actors</a>
      <a class="btn-drop-content" href="#">Director</a>
      <a class="btn-drop-content" href="#">Genres</a>
    </div>
  </div>

  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
