<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='covid-19.png') }}" />

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>

  <div>
    <h3>
      <a class="btn-nav" href="{{ url_for('movies_bp.show_movies') }}">
        Browse movies
      </a>
    </h3>
  </div>

  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
